* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Lora", serif;
}

html {
  scroll-behavior: smooth;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat scroll center scroll;
  background-size: cover;
}

.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.7;
}

.carousel-caption {
  bottom: 180px;
  padding-left: 100px;
  padding-right: 100px;
}

.carousel-caption h5 {
  font-size: 80px;
  font-weight: 700;
}

.carousel-caption p {
  font-size: 30px;
  font-weight: 500;
  top: 2rem;
  font-family: "Dancing Script", cursive;
}

.slider-btn {
  margin-top: 30px;
}

.slider-btn .btn-1 {
  background-color: #000;
  color: #fff;
  border-radius: 0;
  padding: 1.5rem 2rem;
  font-size: 1rem;
  margin-right: 15px;
}

.slider-btn .btn-2 {
  background-color: #fff;
  color: #000;
  border-radius: 0;
  padding: 1.5rem 2rem;
  font-size: 1rem;
  margin-right: 15px;
}

.section {
  padding: 17em 0;
}

.mb-4 {
  font-size: 20px;
  font-weight: 500;
}

.btn-3 {
  background-color: #000;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-width: 2px;
  border-color: #000;
  padding: 10px;
  margin-top: 10px;
}

.accordion-item {
  font-size: 17px;
}

.accordion-item h2 button {
  display: block;
  font-size: 20px;
  font-weight: 800;
  text-align: left;
  text-decoration: none;
  color: #000;
  position: relative;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
  border-radius: 0;
}

.bi-chevron-down {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%) rotate(-180deg);
  transition: 0.3s all ease;
}

.accordion-item h2 button:hover {
  text-decoration: none;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
}

.accordion-item h2 button .collapsed {
  color: #000;
}

.collapsed .bi-chevron-down {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.accordion-item h2 button .collapsed:hover {
  text-decoration: none;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
}

.accordion-item .accordion-body {
  padding-top: 20px;
}

.accordion-button:not(.collapsed) {
  color: #000;
  background: #fff;
  border: none;
}

.accordion-button:focus {
  border-color: #fff;
}

.banner {
  display: flex;
  justify-content: center;
  font-family: "Dancing Script", cursive;
  font-size: 5rem;
  position: absolute;
  left: 600px;
  bottom: 0;
  top: 800px;
  font-weight: 1000;
}

.border-t {
  background-color: #00cba9;
}

.heading {
  font-size: 100px;
  font-weight: 700;
  color: #fff;
}

.link-thumbnail {
  display: block;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-bottom: 30px;
  text-decoration: none;
}

.link-thumbnail img {
  position: relative;
  transition: 0.3s all ease;
}

.link-thumbnail .date {
  display: block;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  margin-bottom: 10px;
}

/*COMETARIO---EN LA SECCION DE TALLERES MAXIMO 3 LINEAS DE TEXTO IDEAL 2*/
.link-thumbnail .bi-calendar-plus {
  position: absolute;
  transition: 0.3 all ease;
  top: 40%;
  font-size: 28px;
  color: #fff;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  margin-top: 30px;
  z-index: 4;
}

.link-thumbnail h3 {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: -20px;
  left: 0;
  color: #fff;
  font-size: 16px;
  transition: 0.3 all ease;
  z-index: 10;
  left: 50%;
  display: block;
  width: 77%;
  transform: translateX(-50%);
}

.link-thumbnail::before {
  opacity: 0;
  visibility: hidden;
  transition: 0.3 all ease;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 2;
}

.link-thumbnail:hover h3 {
  opacity: 1;
  visibility: visible;
  bottom: 30px;
}

.link-thumbnail:hover img {
  transform: scale(1.1);
}

.link-thumbnail:hover .bi-calendar-plus {
  opacity: 1;
  visibility: visible;
  margin-top: 0px;
}

.link-thumbnail:hover::before {
  opacity: 1;
  visibility: visible;
}

.container_wave {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #4895ef;
  overflow: hidden;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: url(../assets/Imagenes/Imagenes-Index/wave.png);
  background-size: 1000px 100px;
  animation: wave 10s linear infinite;
}

.wave_green {
  position: absolute;
  bottom: 0;
  top: 2850px;
  left: 0;
  width: 100%;
  height: 100px;
  background-size: 1000px 100px;
  animation: wave_green 10s linear infinite;
}

.wave__green2 {
  position: absolute;
  bottom: 0;
  top: 1550px;
  left: 0;
  width: 100%;
  height: 100px;
  background-size: 1000px 100px;
  animation: wave_green 10s linear infinite;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dancing Script", cursive;
  font-size: 5rem;
  font-weight: 1000;
}

.mensaje {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  top: 2rem;
}

@keyframes wave {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes wave_green {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
.turnoConfirmado {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  top: 2rem;
}

.container-fluid {
  width: 100%;
}

.container_redes {
  width: 100%;
  margin-right: 50px;
  margin-top: 5px;
  padding: 15px;
  font-size: 20px;
  text-align: right;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: left;
}

.container_redes a {
  text-decoration: underline;
  color: #fff;
}

.offcanvas-title {
  font-family: "Dancing Script", cursive;
  font-weight: 800;
}

.logo {
  height: 50px;
  width: 50px;
}

.bi-facebook {
  margin: 5px;
  font-size: 30px;
}

.bi-instagram {
  font-size: 30px;
  margin: 5px;
}

.bi-linkedin {
  font-size: 30px;
  margin: 5px;
}

.navbar-toggler {
  background: #bdc3c7; /* fallback for old browsers */
  color: white;
}

.offcanvas-body {
  background: #bdc3c7; /* fallback for old browsers */
  color: white;
}

.offcanvas-title {
  font-size: 40px;
}

.nav-link {
  color: #fff;
  font-size: 20px;
}

.dropdown-menu {
  background-color: wheat;
}

.bi-instagram:hover {
  color: #000000;
}

.bi-facebook:hover {
  color: #000000;
}

.bi-linkedin:hover {
  color: #000000;
}

.input {
  max-width: 200px;
  min-height: 40px;
  padding: 10px;
  font-family: "Lora", serif;
  outline: none;
  background: #e8e8e8;
  box-shadow: 5px 5px 17px #c8c8c8, -5px -5px 17px #ffffff;
  border: none;
  border-radius: 10px;
  transition: all 0.5s;
}

.input:focus {
  background: #e8e8e8;
  box-shadow: inset 5px 5px 17px #c8c8c8, inset -5px -5px 17px #ffffff;
}

.listaSesion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .carousel-item {
    height: 80vw;
    min-height: 250px;
    background: no-repeat scroll center scroll;
    background-size: cover;
  }
  .carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
  }
  .carousel-caption {
    bottom: 3rem;
    padding-left: 3vw;
    padding-right: 3vw;
  }
  .carousel-caption h5 {
    font-size: 4vw;
    font-weight: 1000;
  }
  .carousel-caption p {
    font-size: 16px;
    top: 1rem;
    bottom: 1rem;
  }
  .slider-btn {
    margin-top: 20px;
  }
  .slider-btn .btn-1 {
    background-color: #000;
    color: #fff;
    border-radius: 0;
    padding: 0.5rem 1rem;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .slider-btn .btn-2 {
    background-color: #fff;
    color: #000;
    border-radius: 0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .section {
    padding: 8em 0;
  }
  .mb-4 {
    font-size: 16px;
    font-weight: 500;
  }
  .btn-3 {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-width: 2px;
    border-color: #000;
    padding: 5px;
    margin-top: 5px;
  }
  .accordion-item {
    font-size: 1rem;
  }
  .accordion-item h2 button {
    display: block;
    font-size: 16px;
    font-weight: 800;
    text-align: left;
    text-decoration: none;
    color: #000;
    position: relative;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
    border-radius: 0;
  }
  .bi-chevron-down {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%) rotate(-180deg);
    transition: 0.3s all ease;
  }
  .accordion-item h2 button:hover {
    text-decoration: none;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
  }
  .accordion-item h2 button .collapsed {
    color: #000;
  }
  .collapsed .bi-chevron-down {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
  .accordion-item h2 button .collapsed:hover {
    text-decoration: none;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
  }
  .accordion-item .accordion-body {
    padding-top: 20px;
  }
  .accordion-button:not(.collapsed) {
    color: #000;
    background: #fff;
    border: none;
  }
  .accordion-button:focus {
    border-color: #fff;
  }
  .border-t {
    border-top: 1px solid #f8f8f8;
  }
  .heading {
    font-size: 65px;
    font-weight: 700;
    color: #000;
  }
  .link-thumbnail {
    display: block;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
  }
  .link-thumbnail img {
    position: relative;
    transition: 0.3s all ease;
  }
  .link-thumbnail .date {
    display: block;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  /*COMETARIO---EN LA SECCION DE TALLERES MAXIMO 3 LINEAS DE TEXTO IDEAL 2*/
  .link-thumbnail .bi-calendar-plus {
    position: absolute;
    transition: 0.3 all ease;
    top: 29%;
    font-size: 25px;
    color: #fff;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    margin-top: 30px;
    z-index: 4;
  }
  .link-thumbnail h3 {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: -20px;
    left: 0;
    color: #fff;
    font-size: 16px;
    transition: 0.3 all ease;
    z-index: 10;
    left: 50%;
    display: block;
    width: 77%;
    transform: translateX(-50%);
  }
  .link-thumbnail::before {
    opacity: 0;
    visibility: hidden;
    transition: 0.3 all ease;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 2;
  }
  .link-thumbnail:hover h3 {
    opacity: 1;
    visibility: visible;
    bottom: 20px;
  }
  .link-thumbnail:hover img {
    transform: scale(1.1);
  }
  .link-thumbnail:hover .bi-calendar-plus {
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
  }
  .link-thumbnail:hover::before {
    opacity: 1;
    visibility: visible;
  }
  .container_wave {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: none;
    overflow: hidden;
  }
  .wave {
    position: absolute;
    bottom: 100px;
    top: 250px;
    left: 0;
    width: 100%;
    height: 90px;
    background-image: url(../assets/Imagenes/Imagenes-Index/wave.png);
    background-size: 900px 100px;
    animation: wave 10s linear infinite;
  }
  @keyframes wave {
    0% {
      background-position-x: 0;
    }
    100% {
      background-position-x: 1000px;
    }
  }
}
@media screen and (max-width: 768px) {
  .container-fluid {
    width: 100%;
  }
  .container_redes {
    width: 100%;
    margin-right: 50px;
    margin-top: 5px;
    padding: 15px;
    font-size: 20px;
    text-align: right;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: left;
  }
  .container_redes a {
    text-decoration: underline;
    color: #fff;
  }
  .offcanvas-title {
    font-family: "Dancing Script", cursive;
    font-weight: 800;
  }
  .logo {
    height: 50px;
    width: 50px;
  }
  .bi-facebook {
    margin: 5px;
    font-size: 20px;
  }
  .bi-instagram {
    font-size: 20px;
    margin: 5px;
  }
  .bi-linkedin {
    font-size: 20px;
    margin: 5px;
  }
  .navbar-toggler {
    font-size: 1rem;
    background: #bdc3c7;
    color: whitesmoke;
  }
  .offcanvas-body {
    background: #bdc3c7; /* fallback for old browsers */
    color: white;
  }
  .offcanvas-title {
    font-size: 30px;
  }
  .nav-link {
    color: #fff;
    font-size: 16px;
  }
  .dropdown-menu {
    background-color: #fff;
  }
  .bi-instagram:hover {
    color: #000000;
  }
  .bi-facebook:hover {
    color: #000000;
  }
  .bi-linkedin:hover {
    color: #000000;
  }
}/*# sourceMappingURL=styles.css.map */