*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
}

.carousel-item {
    width: 500px;
    height: 600px;
}