*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
    
    font-family: 'Lora', serif;
    

    
}
html{
    scroll-behavior: smooth;
}

.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll ;
    -webkit-background-size:cover ;
    background-size:cover ;

}


.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;

}

.carousel-caption{
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
}

.carousel-caption h5{
    font-size: 80px;
    font-weight: 700;
}


.carousel-caption p {
    font-size: 30px;
    font-weight: 500;
    top:2rem ;
    font-family: 'Dancing Script', cursive;
}

.slider-btn{
    margin-top: 30px;
}

.slider-btn .btn-1 {
    background-color: #000;
    color: #fff;
    border-radius: 0;
    padding:  1.5rem 2rem;
    font-size: 1rem;
    margin-right: 15px;

}


.slider-btn .btn-2{
    background-color:#fff;
    color: #000;
    border-radius: 0;
    padding:  1.5rem 2rem;
    font-size: 1rem;
    margin-right: 15px;
}






.section{
    padding: 11em 0;
}
.mb-4{
    font-size: 20px;
    font-weight: 500;
}
.btn-3 {
    background-color:#000;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-width: 2px;
    border-color:#000 ;
    padding: 10px;
    margin-top: 10px;
}




.accordion-item{
    font-size: 17px;

}



.accordion-item h2 button{
    display: block;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    text-decoration: none;
    color: #000;
    position: relative;
    -webkit-box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2)!important;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2)!important;
    border-radius: 0; }


.bi-chevron-down{
    position: absolute;
    right: 20px;
    top:50%;
    -webkit-transform: translateY(-50%) rotate(-180deg) ;
    -ms-transform: translateY(-50%) rotate(-180deg);
    transform: translateY(-50%) rotate(-180deg);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;

}

.accordion-item h2 button:hover{
    text-decoration: none;
    -webkit-box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2)!important;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2)!important;
}


.accordion-item h2 button .collapsed{
    color: #000;
}

.collapsed .bi-chevron-down{
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.accordion-item h2 button .collapsed:hover{
    text-decoration: none;
    -webkit-box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2)!important;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2)!important;
}

.accordion-item .accordion-body {
    padding-top: 20px;

}

.accordion-button:not(.collapsed){
    color: #000;
    background: #fff;
    border: none;

}
.accordion-button:focus{
    border-color: #fff;
}





.border-t{
    background-color: #00cba9;

}

.heading{
    font-size: 100px;
    font-weight: 700;
    color:#fff;
}


.link-thumbnail{
    display: block;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}


.link-thumbnail img{
    position: relative;
    -webkit-transition: .3s all ease;
    -o-transition: .3 all ease;
    transition: .3s all ease;
}


.link-thumbnail .date{
    display: block;
    font-size: 16px;
    color: rgba(255,255,255,0.4);
    text-transform: uppercase;
    margin-bottom: 10px;

}
/*COMETARIO---EN LA SECCION DE TALLERES MAXIMO 3 LINEAS DE TEXTO IDEAL 2*/

.link-thumbnail .bi-calendar-plus{
    position: absolute;
    -webkit-transition:  .3s all ease;
    -o-transition: .3s all ease;
    transition: .3 all ease;
    top: 40%;
    font-size: 28px;
    color: #fff;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    margin-top: 30px;
    z-index: 4;
}

.link-thumbnail h3{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: -20px;
    left: 0;
    color: #fff;
    font-size: 16px;
    -webkit-transition:  .3s all ease;
    -o-transition: .3s all ease;
    transition: .3 all ease;
    z-index: 10;
    left: 50%;
    display: block;
    width: 77%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}


.link-thumbnail::before{
    opacity: 0;
    visibility: hidden;
    -webkit-transition:  .3s all ease;
    -o-transition: .3s all ease;
    transition: .3 all ease;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: rgba(0,0,0,0.6);
    position: absolute;
    z-index: 2;
}

.link-thumbnail:hover h3{
    opacity: 1;
    visibility: visible;
    bottom: 30px;
}

.link-thumbnail:hover img{
    -webkit-transform: scale(1.1) ;
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


.link-thumbnail:hover .bi-calendar-plus{
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
}

.link-thumbnail:hover::before{
    opacity: 1;
    visibility: visible;
}


.container_wave{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #4895ef ;
    overflow: hidden;
}

.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url(../assets/Imagenes/Imagenes-Index/wave.png);
    background-size: 1000px 100px;
    animation:wave 10s linear infinite;
}
.wave_green{
    position: absolute;
    bottom: 0;
    top:2400px ;
    left: 0;
    width: 100%;
    height: 100px;
    background-size: 1000px 100px;
    animation:wave_green 10s linear infinite;
}

.wave__green2{
    position: absolute;
    bottom: 0;
    top:1300px ;
    left: 0;
    width: 100%;
    height: 100px;
    background-size: 1000px 100px;
    animation:wave_green 10s linear infinite;
}

@keyframes wave{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;

    }
}



@keyframes wave_green{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;

    }
}


