
@media screen  and (max-width: 768px ){


.container-fluid{
    width: 100%;
}


.container_redes{
    width: 100%;
    margin-right: 50px;
    margin-top: 5px;
    padding: 15px;
    font-size: 20px;
    text-align: right;
    border-bottom: 1px solid #fff ;
    display: flex;
    justify-content:left;

}
.container_redes a{
    text-decoration: underline;
    color: #fff;

}

.offcanvas-title{
    font-family: 'Dancing Script', cursive;
    font-weight: 800;
}
.logo{
    height: 50px;
    width: 50px;
}

.bi-facebook{
    margin: 5px;
    font-size: 20px;
}

.bi-instagram{
    font-size: 20px;
    margin: 5px;
}


.bi-linkedin{
    font-size: 20px;
    margin:5px;
}

.navbar-toggler{
    font-size: 1rem;
    background: #bdc3c7;
    color: whitesmoke;
}

.offcanvas-body{
    background: #bdc3c7;  /* fallback for old browsers */
    color: white;
}

.offcanvas-title {
    font-size: 30px;

}
.nav-link{
    color:#fff;
    font-size: 16px;


}



.dropdown-menu{
    background-color:#fff;
}




.bi-instagram:hover{
    color:#000000; }


.bi-facebook:hover{
        color:#000000; }


.bi-linkedin:hover{
    color: #000000;
}

}