.container-fluid{
    width: 100%;
}


.container_redes{
    width: 100%;
    margin-right: 50px;
    margin-top: 5px;
    padding: 15px;
    font-size: 20px;
    text-align: right;
    border-top: 1px solid #fff ;
    display: flex;
    justify-content:left;

}
.container_redes a{
    text-decoration: underline;
    color: #fff;

}
.logo{
    height: 50px;
    width: 50px;
}

.bi-facebook{
    margin: 5px;
}

.bi-instagram{
    margin: 5px;
}


.bi-linkedin{
    margin: 5px;
}

.navbar-toggler{
    color: #634102;
}

.offcanvas-body{
    background-color: #634102;
    color: white;
}


.nav-link{
    color:#fff;

}



.dropdown-menu{
    background-color: wheat;
}




.bi-instagram:hover{
    color:#000000; }


.bi-facebook:hover{
        color:#000000; }


.bi-linkedin:hover{
    color: #000000;
}